# Environment Variables
BASE_URL=https://the-internet.herokuapp.com
BROWSER=chromium
HEADLESS=true

# API Configuration
API_BASE_URL=https://reqres.in

# Test Credentials
VALID_USERNAME=tomsmith
VALID_PASSWORD=SuperSecretPassword!
INVALID_USERNAME=invalid
INVALID_PASSWORD=invalid